{% extends "main.html" %}
{% block content %}

<style>
  input{
    border-radius: 10px; 
	height: 40px;
	width: 300px;/* Adjust the radius value as needed */
  }
</style>  

<form action="" method="POST" enctype="multipart/form-data" class="hero-text2 mt-5 mb-5 w-50 mx-auto text-center">
  {% csrf_token %}
  <h1 class="text-black text-center">Change Password</h1>
  
  <div class="form-group">
    {{ form.old_password }}
    {% for error in form.old_password.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  </div>

  <div class="form-group">
    {{ form.new_password1 }}
    {% for error in form.new_password1.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  </div>

  <div class="form-group">
    {{ form.new_password2 }}
    {% for error in form.new_password2.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  </div>

  <button class="btn btn-lg btn-outline-dark btn-light mt-3" type="submit">Change Password</button>
</form>



<script>
  // Add placeholders to form inputs
  document.querySelector('#id_old_password').placeholder = 'Old Password';
  document.querySelector('#id_new_password1').placeholder = 'New Password';
  document.querySelector('#id_new_password2').placeholder = 'Confirm New Password';
</script>

{% endblock %}
